.blocPost {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    gap: 2rem;

.postContainer {
    width: 50%;
    border: 0rem solid $colorBlue;
    border-radius: 18px;
    box-shadow: 0px 0px 10px black;
    margin: auto;
    background-color: $colorDarkBlue;
    padding: 10px;
    @media screen and (max-width: 900px) {
        width: 95%;
    }
    .postAuthor {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 1rem;
        @media screen and (max-width: 900px) {
            flex-wrap: wrap;
        }
    }

    .imgProfil {
        width: 15%;
        border-radius: 50%;
        border: 2px solid black;
        @media screen and (max-width: 900px) {
            width: 20%;
        }
    }
    .imgPost {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    .postText {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 15px;
    }

    .postTitle, .postContent {
        color: white;
    }

    .postTitle {
        font-size: x-large;
    }

    .postUserName {
        color: white;
        margin: 1rem;
        font-size: 1.2rem;
    }
    .datePost {
        color: white;
        font-size: 0.9rem;
    }
}
}
    .goProfile {
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 20px;
        padding: 15px;
    }