.blocPost {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    gap: 2rem;

.postContainer {
    width: 50%;
    border: 0rem solid $colorBlue;
    border-radius: 18px;
    box-shadow: 0px 0px 5px 5px $colorPink;
    margin: auto;
    @media screen and (max-width: 900px) {
        width: 95%;
    }
    .postAuthor {
        display: flex;
        align-items: center;
        border-radius: 30px;
        margin: 1rem;
    }

    .imgProfil {
        width: 10%;
        border-radius: 50%;
    }
    .imgPost {
        width: 100%;
    }

    .postText {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .postTitle, .postContent {
        color: white;
    }

    .postTitle {
        font-size: x-large;
    }

    .postUserName {
        color: white;
        margin: 1rem;
    }
    .datePost {
        color: white;
    }
}
}