.nav-container {
    width: auto;
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}
.titleNav {
    color: white;
    font-size: xx-large;
}
.logoNav {
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logout {
    width: 2rem;
}
