.nav-container {
    width: auto;
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}
.titleNav {
    color: black;
    text-align: center;
    margin-left: 4rem;
}
.logo {
    width: auto;
    text-align: center;
}

