.editProfileContainer {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 30px;
    @media screen and (max-width: 900px) {
        margin: auto;
        margin-bottom: 100px;
        margin-top: 30px;
    }
    .editFormProfile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: auto;
        border-radius: 18px;
        box-shadow: 0px 0px 10px black;
        background-color: $colorDarkBlue;
        color: white;
        padding: 30px;
        @media screen and (max-width: 900px) {
            width: 95%;
        }
    }
        .editProfile {
            color: $color-2;
            border: 1px solid white;
            padding: 13px;
            border-radius: 10px;
            @media screen and (max-width: 900) {
                font-size: .8rem;
            }
        }

}
    #formTitle {
        width: 100%;
    }
    #formContent {
        width: 100%;
    }
    #uploadImage {
        width: 115px;
        height: 21px;
    }
    #editBio {
        height: 100px;
        width: 100%;
    }
