.nav-container {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    border-bottom: .3rem solid $colorWhite;
    background-color: $colorDarkBlue;
    @media only screen and (max-width: 450px) {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px;
    }
}
.titleNav {
    color: $color-1;
    font-size: 3.3rem;
    @media only screen and (max-width: 450px) {
        font-size: 2rem;
    }
}
.logoNav {
    width: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: auto;
    &:hover {
        transform: scale(1.02);
        transition: 0.15s;
    }
}
.logout {
    font-size: 3rem;
    margin-right: 1rem;
    color: white;
    @media only screen and (max-width: 450px) {
        margin: auto;
        font-size: 2rem;
    }
}
